{% extends 'base.html.twig' %}

{% block title %}Ingredients index{% endblock %}

{% block body %}
    <h1>Ingredients index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.nom }}</td>
                <td>
                    <a href="{{ path('ingredients_show', {'id': ingredient.id}) }}">show</a>
                    <a href="{{ path('ingredients_edit', {'id': ingredient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ingredients_new') }}">Create new</a>
{% endblock %}
