<form method="post" action="{{ path('region_recette_delete', {'id': region_recette.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region_recette.id) }}">
    <button class="btn">Delete</button>
</form>
