{% extends 'base.html.twig' %}

{% block title %}Edit RegionRecette{% endblock %}

{% block body %}
    <h1>Edit RegionRecette</h1>

    {{ include('region_recette/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('region_recette_index') }}">back to list</a>

    {{ include('region_recette/_delete_form.html.twig') }}
{% endblock %}
