{% extends 'base.html.twig' %}

{% block title %}RegionRecette index{% endblock %}

{% block body %}
    <h1>RegionRecette index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Region</th>
                <th>Coderegion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region_recette in region_recettes %}
            <tr>
                <td>{{ region_recette.id }}</td>
                <td>{{ region_recette.region }}</td>
                <td>{{ region_recette.coderegion }}</td>
                <td>
                    <a href="{{ path('region_recette_show', {'id': region_recette.id}) }}">show</a>
                    <a href="{{ path('region_recette_edit', {'id': region_recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('region_recette_new') }}">Create new</a>
{% endblock %}
