{% extends 'base.html.twig' %}

{% block title %}New RegionRecette{% endblock %}

{% block body %}
    <h1>Create new RegionRecette</h1>

    {{ include('region_recette/_form.html.twig') }}

    <a href="{{ path('region_recette_index') }}">back to list</a>
{% endblock %}
