{% extends 'base.html.twig' %}

{% block title %}RegionRecette{% endblock %}

{% block body %}
    <h1>RegionRecette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region_recette.id }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ region_recette.region }}</td>
            </tr>
            <tr>
                <th>Coderegion</th>
                <td>{{ region_recette.coderegion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('region_recette_index') }}">back to list</a>

    <a href="{{ path('region_recette_edit', {'id': region_recette.id}) }}">edit</a>

    {{ include('region_recette/_delete_form.html.twig') }}
{% endblock %}
