{% extends 'base.html.twig' %}

{% block title %}Recettes index{% endblock %}

{% block body %}
    <h1>Recettes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ingredientrecette</th>
                <th>Slugrecette</th>
                <th>Prixrecette</th>
                <th>Nbdepersonne</th>
                <th>Noterecette</th>
                <th>Instructionrecette</th>
                <th>Descriptionrecette</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.ingredientrecette }}</td>
                <td>{{ recette.slugrecette }}</td>
                <td>{{ recette.prixrecette }}</td>
                <td>{{ recette.nbdepersonne }}</td>
                <td>{{ recette.noterecette }}</td>
                <td>{{ recette.instructionrecette }}</td>
                <td>{{ recette.descriptionrecette }}</td>
                <td>
                    <a href="{{ path('recettes_show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('recettes_edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recettes_new') }}">Create new</a>
{% endblock %}
