{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New Recettes{% endblock %}

{% block body %}
    <h1>Create new Recettes</h1>

    {{ include('recettes/_form.html.twig') }}

    <a href="{{ path('recettes_index') }}">back to list</a>
{% endblock %}
