{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>Recettes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Ingredientrecette</th>
                <td>{{ recette.ingredientrecette }}</td>
            </tr>
            <tr>
                <th>Slugrecette</th>
                <td>{{ recette.slugrecette }}</td>
            </tr>
            <tr>
                <th>Prixrecette</th>
                <td>{{ recette.prixrecette }}</td>
            </tr>
            <tr>
                <th>Nbdepersonne</th>
                <td>{{ recette.nbdepersonne }}</td>
            </tr>
            <tr>
                <th>Noterecette</th>
                <td>{{ recette.noterecette }}</td>
            </tr>
            <tr>
                <th>Instructionrecette</th>
                <td>{{ recette.instructionrecette }}</td>
            </tr>
            <tr>
                <th>Descriptionrecette</th>
                <td>{{ recette.descriptionrecette }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('recettes_index') }}">back to list</a>

    <a href="{{ path('recettes_edit', {'id': recette.id}) }}">edit</a>

    {{ include('recettes/_delete_form.html.twig') }}
{% endblock %}
