<form method="post" action="{{ path('regime_alimentaire_delete', {'id': regime_alimentaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ regime_alimentaire.id) }}">
    <button class="btn">Delete</button>
</form>
