{% extends 'base.html.twig' %}

{% block title %}Edit RegimeAlimentaire{% endblock %}

{% block body %}
    <h1>Edit RegimeAlimentaire</h1>

    {{ include('regime_alimentaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('regime_alimentaire_index') }}">back to list</a>

    {{ include('regime_alimentaire/_delete_form.html.twig') }}
{% endblock %}
