{% extends 'base.html.twig' %}

{% block title %}RegimeAlimentaire index{% endblock %}

{% block body %}
    <h1>RegimeAlimentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valeurregime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regime_alimentaire in regime_alimentaires %}
            <tr>
                <td>{{ regime_alimentaire.id }}</td>
                <td>{{ regime_alimentaire.valeurregime }}</td>
                <td>
                    <a href="{{ path('regime_alimentaire_show', {'id': regime_alimentaire.id}) }}">show</a>
                    <a href="{{ path('regime_alimentaire_edit', {'id': regime_alimentaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('regime_alimentaire_new') }}">Create new</a>
{% endblock %}
