{% extends 'base.html.twig' %}

{% block title %}New RegimeAlimentaire{% endblock %}

{% block body %}
    <h1>Create new RegimeAlimentaire</h1>

    {{ include('regime_alimentaire/_form.html.twig') }}

    <a href="{{ path('regime_alimentaire_index') }}">back to list</a>
{% endblock %}
