{% extends 'base.html.twig' %}

{% block title %}RegimeAlimentaire{% endblock %}

{% block body %}
    <h1>RegimeAlimentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ regime_alimentaire.id }}</td>
            </tr>
            <tr>
                <th>Valeurregime</th>
                <td>{{ regime_alimentaire.valeurregime }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('regime_alimentaire_index') }}">back to list</a>

    <a href="{{ path('regime_alimentaire_edit', {'id': regime_alimentaire.id}) }}">edit</a>

    {{ include('regime_alimentaire/_delete_form.html.twig') }}
{% endblock %}
