{% extends 'base.html.twig' %}

{% block title %}Edit Difficulter{% endblock %}

{% block body %}
    <h1>Edit Difficulter</h1>

    {{ include('difficulter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('difficulter_index') }}">back to list</a>

    {{ include('difficulter/_delete_form.html.twig') }}
{% endblock %}
