{% extends 'base.html.twig' %}

{% block title %}Difficulter index{% endblock %}

{% block body %}
    <h1>Difficulter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveaux</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for difficulter in difficulters %}
            <tr>
                <td>{{ difficulter.id }}</td>
                <td>{{ difficulter.niveaux }}</td>
                <td>
                    <a href="{{ path('difficulter_show', {'id': difficulter.id}) }}">show</a>
                    <a href="{{ path('difficulter_edit', {'id': difficulter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('difficulter_new') }}">Create new</a>
{% endblock %}
