{% extends 'base.html.twig' %}

{% block title %}New Difficulter{% endblock %}

{% block body %}
    <h1>Create new Difficulter</h1>

    {{ include('difficulter/_form.html.twig') }}

    <a href="{{ path('difficulter_index') }}">back to list</a>
{% endblock %}
