{% extends 'base.html.twig' %}

{% block title %}Difficulter{% endblock %}

{% block body %}
    <h1>Difficulter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ difficulter.id }}</td>
            </tr>
            <tr>
                <th>Niveaux</th>
                <td>{{ difficulter.niveaux }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('difficulter_index') }}">back to list</a>

    <a href="{{ path('difficulter_edit', {'id': difficulter.id}) }}">edit</a>

    {{ include('difficulter/_delete_form.html.twig') }}
{% endblock %}
