{% extends 'base.html.twig' %}

{% block title %}Edit TypeAliment{% endblock %}

{% block body %}
    <h1>Edit TypeAliment</h1>

    {{ include('type_aliment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_aliment_index') }}">back to list</a>

    {{ include('type_aliment/_delete_form.html.twig') }}
{% endblock %}
