{% extends 'base.html.twig' %}

{% block title %}TypeAliment index{% endblock %}

{% block body %}
    <h1>TypeAliment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomtypealiment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_aliment in type_aliments %}
            <tr>
                <td>{{ type_aliment.id }}</td>
                <td>{{ type_aliment.nomtypealiment }}</td>
                <td>
                    <a href="{{ path('type_aliment_show', {'id': type_aliment.id}) }}">show</a>
                    <a href="{{ path('type_aliment_edit', {'id': type_aliment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_aliment_new') }}">Create new</a>
{% endblock %}
