{% extends 'base.html.twig' %}

{% block title %}New TypeAliment{% endblock %}

{% block body %}
    <h1>Create new TypeAliment</h1>

    {{ include('type_aliment/_form.html.twig') }}

    <a href="{{ path('type_aliment_index') }}">back to list</a>
{% endblock %}
