{% extends 'base.html.twig' %}

{% block title %}TypeAliment{% endblock %}

{% block body %}
    <h1>TypeAliment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_aliment.id }}</td>
            </tr>
            <tr>
                <th>Nomtypealiment</th>
                <td>{{ type_aliment.nomtypealiment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_aliment_index') }}">back to list</a>

    <a href="{{ path('type_aliment_edit', {'id': type_aliment.id}) }}">edit</a>

    {{ include('type_aliment/_delete_form.html.twig') }}
{% endblock %}
